In [65]:
path = "/media/paniquex/samsung_2tb/IDAO_2021_oski/data/track_1/idao_dataset/"

In [66]:
import pandas as pd
import os


file_names = os.listdir(os.path.join(path, "train", "NR")) + os.listdir(os.path.join(path, "train", "ER"))

In [67]:
file_names[0].split("_")[6], file_names[0].split("_")[7]

('NR', '6')

In [68]:
file_names[-1].split("_")[5], file_names[-1].split("_")[6]

('ER', '30')

In [69]:
train_csv = pd.DataFrame([file.split("_")[6:8] if len(file.split("_")) > 18 else file.split("_")[5:7] for file in file_names])
train_csv["file_path"] = file_names
train_csv.loc[train_csv[0] == "NR", "file_path"] = path + "train/NR/" + train_csv["file_path"]
train_csv.loc[train_csv[0] == "ER", "file_path"] = path + "train/ER/" + train_csv["file_path"]

In [70]:
train_csv["file_path"][0]

'/media/paniquex/samsung_2tb/IDAO_2021_oski/data/track_1/idao_dataset/train/NR/2.2355000972747803__CYGNO_60_40_He_NR_6_keV_930V_30cm_SRIM_IDAO_iso_crop_hist_pic_run1_ev473;1.png'

In [71]:
train_csv["target"] = train_csv[0] + train_csv[1]

In [72]:
train_csv[1] = train_csv[1].astype(int)

In [73]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

train_csv["target"] = le.fit_transform(train_csv["target"])

In [74]:
train_csv.to_csv(path + "/train.csv")

In [75]:
mask_NR = (train_csv[0] == "NR") & ((train_csv[1] == 1) | (train_csv[1] == 6) | (train_csv[1] == 20))
mask_ER = (train_csv[0] == "ER") & ((train_csv[1] == 3) | (train_csv[1] == 10) | (train_csv[1] == 30))
val_private = train_csv[~(mask_NR | mask_ER)]

In [76]:
train_csv[~(mask_NR | mask_ER)].to_csv(path + "/val_private.csv")

In [77]:
train_csv[~(mask_NR | mask_ER)]

        0   1                                          file_path  target
2719   NR  30  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...      10
3783   NR   3  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       9
4874   NR  10  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       7
4915   NR  30  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...      10
5485   NR   3  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       9
5781   NR  10  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       7
7132   ER  20  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       2
7397   ER  20  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       2
8012   ER   1  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       0
8142   ER   6  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       5
8712   ER   1  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       0
11714  ER   1  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...       0

## Test:

In [68]:
path = "" # directory with public_test and private_test directories
file_names_public = os.listdir(os.path.join(path, "public_test")) #+ os.listdir(os.path.join(path, "private_test"))
test_csv = pd.DataFrame({"file_path": file_names_public, "type": "public"})
file_names_private = os.listdir(os.path.join(path, "private_test")) #+ os.listdir(os.path.join(path, "private_test"))
test_csv = test_csv.append(pd.DataFrame({"file_path": file_names_private, "type": "private"})).reset_index()

test_csv.loc[test_csv["type"] == "public", "file_path"] = str(os.path.join(path, "public_test")) + "/" + test_csv["file_path"]
test_csv.loc[test_csv["type"] == "private", "file_path"] = str(os.path.join(path, "private_test")) + "/" + test_csv["file_path"]

In [71]:
test_csv.pop("index")

0            0
1            1
2            2
3            3
4            4
         ...
16559    15057
16560    15058
16561    15059
16562    15060
16563    15061
Name: index, Length: 16564, dtype: int64

In [72]:
test_csv.sample(10)

                                               file_path     type
294    /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...   public
12421  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
16036  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
12734  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
3840   /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
4899   /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
720    /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...   public
4377   /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
11917  /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...  private
259    /media/paniquex/samsung_2tb/IDAO_2021_oski/dat...   public

In [73]:
test_csv.iloc[0]["file_path"]

'/media/paniquex/samsung_2tb/IDAO_2021_oski/data/track_1/idao_dataset/public_test/49caac4a81475d3cc821689ad3cc2aad2a0e36bd.png'

In [74]:
test_csv.to_csv(os.path.join(path, "test.csv"))

In [15]:
pd.read_csv("/media/paniquex/samsung_2tb/IDAO_2021_oski/data/track1_predictions_example.csv")

,id,classification_predictions,regression_predictions
0,0002894871bb30af2670648c58b2506e9801a321,1,1
1,000a95ca23df016a149ff9af94b6e9d8633d6691,1,1
2,000b4407dee7dad2ba46586e6ba1264f45965e51,1,1
3,000c45d729066044e3dd3f885fddf013b845b6d7,1,1
4,0011f80e44faa713714ead6aeab3b2f9db54aebd,1,1
...,...,...,...
16559,ffdfd25b2f522ba2312dda90189ec48205578199,1,1
16560,ffe29ac691148f84c7a7759e687aa6c2f0eac11a,1,1
16561,ffedc12ec5c142dae2086408b778cf0db2ff944e,1,1
16562,fff423086a80114984b647af69f710cf3ef844f9,1,1
16563,fffdd654bd60b81ffd51a723a8839b8f5381feba,1,1

In [14]:
!ls

track_1  track1_predictions_example.csv  track_1.tar

NameError: name 'train_csv' is not defined